{% extends "base.html" %}
{% block title %}Sobre{% endblock %}
{% block content %}
    <h1>Sobre Nós</h1>
    <p>
        Fundada em 1983, a Igreja Assembleia de Deus Independente (ADI Tubarão) é uma comunidade missional e inclusiva comprometida com a Palavra de Deus
        e com a transformação de vidas e famílias. Há mais de quatro décadas, a ADI une o ensino bíblico e a formação de líderes, por meio do
        Seminário Teológico do Sul e da Escola Bíblica Dominical, a um forte compromisso social e missionário.
        A igreja promove acolhimento e inclusão com tradução em Libras em todos os encontros, suporte terapêutico ABA para crianças autistas (AMA-Sul),
        atendimento a pessoas em situação de rua e apoio na reabilitação de dependentes químicos. Além de investir nas novas gerações através de retiros
        tradicionais e do ministério Atalaia, a ADI estende sua atuação globalmente com ações em nações como Ruanda, Haiti e Nepal, e no Brasil com a
        tradução da Bíblia para línguas indígenas. Sua missão é servir à sociedade com amor, compaixão e fidelidade ao Evangelho.
    </p>
{% endblock %}